@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
}

button {
  @apply w-fit px-4 py-1.5;
}

input {
  @apply w-full border text-gray-400 px-4 py-2  text-sm sm:text-base;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  display: none;
}

textarea {
  @apply w-full border text-gray-400 px-4 py-2  text-sm sm:text-base;
}

.navbar {
  @apply max-w-[1400px] mx-auto h-[60px] px-4 sm:px-8 md:px-12;
}

.container {
  @apply max-w-[1400px] mx-auto px-4 py-4 sm:px-8 sm:py-8 md:px-12 md:py-12;
}

@font-face {
  font-family: "marley";
  src: url("/assets/fonts/marley-marley-regular-lovely-script-400.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Image full on landscape orientation */
@media screen and (max-width: 1400px) and (orientation: landscape) {
  .landscape-image {
    height: 90vh;
  }
}

@media screen and (max-width: 1400px) and (orientation: landscape) {
  .landscape-text {
    bottom: 24px;
  }
}

/* custom scroll bar for related venues */

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #333 #f4f4f4;
  overflow-y: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cecece;
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  height: 10px;
}

/* date fix */

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

/* line height */

h1 {
  line-height: 5.5rem;
}

/* multi range scrollbar */

.horizontal-slider {
  width: 100%;
  max-width: 500px;
  height: 35px;
}

.example-track {
  position: relative;
  background: rgb(209 213 219);
}

.horizontal-slider .example-track {
  top: 10px;
  height: 2px;
}

.example-track.example-track-1 {
  background: black;
}

.example-track.example-track-2 {
  background: rgb(209 213 219);
}

.horizontal-slider .example-thumb {
  width: 20px;
  height: 20px;
  line-height: 38px;
  border-radius: 50%;
}

.example-thumb {
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* swiper slides */

.swiperslide {
  padding-right: 10px;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: black;
  height: 25px;
  width: 25px;
}

.swiper-button-prev {
  background-image: url("/assets/prev.png");
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  background-size: 60%; /* Adjust the size of the background image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next {
  background-image: url("/assets/next.png");
  background-repeat: no-repeat;
  background-position: center; /* Center the background image */
  background-size: 60%; /* Adjust the size of the background image */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background-color: black;
  height: 10px;
  width: 10px;
  transition: all 0.3s ease;
}

/* custom drop down arrow */

.custom-select {
  appearance: none;
}

.custom-select::-ms-expand {
  display: none;
}

/* Adjust the position of the dropdown arrow */

/* Create a custom dropdown arrow */
.custom-select:after {
  content: "\25BC"; /* Unicode character for dropdown arrow */
  position: absolute;
  right: 10px; /* Adjust this value to move the arrow */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Ensure clicks pass through to the select element */
}

@media (max-width: 767px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
